<a href="https://colab.research.google.com/github/ShrutiMishra-2002/Ps4/blob/main/ps4_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [19]:
f=pd.read_csv('/content/sample_data/mnist_test.csv')
f

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
f.shape

(9999, 785)

In [21]:
f.describe()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
count,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.000000,9999.000000,9999.000000,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
mean,4.443144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.179318,0.163616,0.052605,0.000600,0.0,0.0,0.0,0.0,0.0,0.0
std,2.895897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.674433,5.736359,2.420125,0.060003,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,253.000000,156.000000,6.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
 
data = np.array(['a','b','c','d'])
 
ser = pd.Series(data)
print(ser)

0    a
1    b
2    c
3    d
dtype: object

In [6]:
arr = [0,1,2,3]
o = [1,2,3,4]
s1 = pd.Series(arr,index=o,name='data')
s1

1    0
2    1
3    2
4    3
Name: data, dtype: int64

In [9]:
r = np.random.rand(5)
i = ['a','b','c','d','e']
s2 = pd.Series(r,index=i)
s2

a    0.431486
b    0.184053
c    0.389271
d    0.984820
e    0.622513
dtype: float64

In [10]:
dic = {1:'a',2:'b',3:'c'}
pd.Series(dic)

1    a
2    b
3    c
dtype: object

In [11]:
s3 = s1.append(s2)
s3

1    0.000000
2    1.000000
3    2.000000
4    3.000000
a    0.431486
b    0.184053
c    0.389271
d    0.984820
e    0.622513
dtype: float64

In [14]:
s3 = s1.append(s2)
s3

a1 = [1,2,3,4,5]
a2 = [6,7,8]

s4 = pd.Series(a1)
s4

s5 = pd.Series(a2)
s5

s4.add(s5)

0     7.0
1     9.0
2    11.0
3     NaN
4     NaN
dtype: float64

In [16]:
s4/s5

0    0.166667
1    0.285714
2    0.375000
3         NaN
4         NaN
dtype: float64

In [17]:
s4.mean()

3.0

In [18]:
s5.median()

7.0

In [32]:
check=pd.DataFrame(
    {
          "cars": ["BMW", "Volvo", "Ford"],
          "passings": [3, 7, 2],
          "id":np.random.randn(3),

    }
)
check

    cars  passings        id
0    BMW         3  0.414104
1  Volvo         7 -0.349878
2   Ford         2  0.481309

In [33]:
dict = {'col1':['A','B','C','D','E'],'col2':np.random.rand(5)}
df1 = pd.DataFrame(dict)
df2 = pd.DataFrame({'col1':['A','g','h','i','j'],'col2':np.random.rand(5)})
pd.merge(df1,df2,on='col1',how='outer')

  col1    col2_x    col2_y
0    A  0.666581  0.804573
1    B  0.521799       NaN
2    C  0.450287       NaN
3    D  0.200208       NaN
4    E  0.398814       NaN
5    g       NaN  0.447978
6    h       NaN  0.528443
7    i       NaN  0.515440
8    j       NaN  0.845850